@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.phrase {
  @apply p-0 min-w-[300px] max-w-[700px] flex flex-wrap m-auto overflow-hidden h-[108px] content-start
}

.completeWord {
  @apply inline-block m-0 mr-5 
}

.completeLetter {
  @apply text-3xl text-green-700 inline-block

}

.word {
  @apply inline-block m-0 mr-5 
}

.letter {
  @apply text-3xl inline-block

}

.wrong {
  @apply text-3xl text-red-500 inline-block

}

.right {
  @apply text-3xl text-green-300 inline-block
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
}

.curPos {
  @apply inline-block h-[28px]
}

.cursor {
  transition: left 0.05s, top 0.05s;
  @apply z-[1] h-[38px] w-[2px] bg-red-600 absolute
}

.wordsButton {
  @apply select-none
}